$primary-color: #007bff;
$border-color: #ccc;
$background-color: #f4f6f8;
$hover-color: #f4f6f8;
$text-color: #222;
$error-color: #eb597b;

$width-arrow: 16px;
$width-select: 285px;
$height-select: 40px;

.select-custom {
   position: relative;
   max-width: $width-select;
   width: 100%;

   .label {
      font-size: 14px;
      color: #a6a6a6;
      margin-bottom: 8px;
      display: block;

      .required {
         color: $error-color;
         margin-left: 4px;
      }
   }

   .dropdown {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      height: $height-select;

      overflow: hidden;

      border-radius: 8px;
      background: $background-color;
      cursor: pointer;
      user-select: none;
      width: 100%;
      padding: 10px 20px;
      padding-right: 40px;

      &.open {
         outline: none;
         border: 1px solid #3787eb;
      }

      &-header-wrp {
         position: relative;
         left: 0px;
         top: 50%;
         transform: translateY(-50%);
         z-index: 2;
         overflow: hidden;
         max-height: 22px;
         white-space: nowrap;
         text-overflow: ellipsis;
         display: flex;
         align-items: center;

         .dropdown-header {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: nowrap;
            gap: 6px;

            .dropdown-item-header {
               font-weight: 400;
               font-size: 12px;
               line-height: 110%;
               color: $text-color;
               background-color: #fff;
               border-radius: 4px;

               flex: 0 0 auto;
               position: relative;
               display: flex;
               align-items: center;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               padding: 4px 22px 4px 8px;

               .close-wrp {
                  position: absolute;
                  display: block;
                  right: 5px;
                  top: 50%;
                  transform: translateY(-50%);
                  margin-left: 2px;
                  cursor: pointer;

                  width: 6px;
                  height: 6px;

                  svg {
                     display: block;
                     transform-origin: center;
                     width: 100%;
                     height: 100%;
                  }
               }
            }
         }

         &.open .dropdown-header-wrp {
            overflow: visible;
         }
      }

      .dropdown-arrow {
         display: block;
         position: absolute;
         right: 15px;
         top: 50%;
         transform: translateY(-50%);
         width: $width-arrow;
         height: $width-arrow;

         transition: transform 0.3s ease;

         &.open {
            transform: rotate(180deg) translateY(45%);
         }
         svg {
            display: block;
            transform-origin: center;
            width: 100%;
            height: 100%;
         }
      }
   }

   .dropdown-list {
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      width: 100%;
      max-height: 350px;
      overflow-y: auto;
      border: 1px solid $border-color;
      background-color: $background-color;
      border-radius: 4px;
      box-shadow:
         0 8px 16px -2px rgba(27, 36, 44, 0.12),
         0 2px 2px -1px rgba(27, 35, 44, 0.04);
      background: #fff;
      color: $text-color;
      z-index: 21;

      &:focus {
         outline: none;
         border: 1px solid #3787eb;
      }

      .dropdown-item {
         cursor: pointer;
         display: flex;
         align-items: center;
         font-weight: 400;
         font-size: 14px;
         line-height: 120%;
         color: #212121;
         padding: 10px 12px;

         &:hover {
            background-color: $hover-color;
         }

         .checkbox-label {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #212121;

            .checkbox-input {
               display: none; // Скрываем стандартный чекбокс

               &:checked + .checkbox-custom {
                  background-color: #3787eb;
                  border-color: #3787eb;

                  &::after {
                     content: '';
                     position: absolute;
                     width: 4px;
                     height: 7px;
                     border: solid $background-color;
                     border-width: 0 2px 2px 0;
                     top: 45%;
                     left: 30%;
                     transform: rotate(45deg) translate(-50%, -50%);
                  }
               }
            }

            .checkbox-custom {
               position: relative;
               display: inline-block;
               width: 16px;
               height: 16px;

               border: 1px solid #a6a6a6;
               border-radius: 4px;
               background-color: $background-color;
               margin-right: 8px;
            }
         }
      }
   }
}
