.bread_crumbs {
   background-color: var(--bread-crumbs-back);

   width: 100%;
   padding: 0.8rem 1.6rem;
   border-radius: 0.5rem;
   font-size: 14px;

   a {
      color: var(--bread-crumbs-text);
   }

   span {
      margin: 0 1rem;

      &:last-child a{
         color: var(--active-link);
      }
   }
}